body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif; /* Default font family */
}

.title {
    font-size: 50px;
    font-weight: semi-bold;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1em solid pink;
    animation: typing 1.5s steps(19, end), blink-caret 0.75s step-end infinite;
  }
  
/* Responsive styling */
@media (max-width: 600px) {
    .container {
      height: 100vh; /* Full viewport height */
      padding: 20px; /* Add some padding */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .title {
      font-size: 30px; /* Reduce font size for smaller screens */
      white-space: nowrap; /* Allow text to wrap */
      border-right: 0.1em solid pink; /* Creates a cursor effect */
      animation: typing 1.5s steps(19, end), blink-caret 0.75s step-end infinite; /* Adjust steps value */
      font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif; /* Default font family */
    }
  }

  /* Button styling */
.coming-soon-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: semi-normal;
    color: white;
    background: linear-gradient(45deg, #ff6ec4, #7873f5); /* Gradient background */
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    animation: fadeIn 2s ease-in-out; /* Apply the fadeIn animation */
    animation-fill-mode: forwards; /* Ensure the button stays visible after animation */
    opacity: 0; /* Start with the button hidden */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  }
    
  .coming-soon-button:hover {
    background: linear-gradient(45deg, #7873f5, #ff6ec4); /* Reverse gradient on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  
  @media (max-width: 600px) {
    .coming-soon-button:active {
      background: linear-gradient(45deg, #ff6ec4, #7873f5); /* Change background on click */
      transform: scale(1.05); /* Slightly enlarge the button on hover */
    }
  }

  